@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --background-full: 250, 250, 250;
  
    --purple: 99, 60, 255;
    --purple-hover: 190, 173, 255;
    --light-purple: 239, 235, 255;
  
    --grey: 115, 115, 115;
    --dark-grey: 51, 51, 51;
    --border-grey: 217, 217, 217;
    --light-grey: 250, 250, 250;
  
    --white: 255, 255, 255;
    --red: 255, 57, 57;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-full));
}

.nav:hover svg {
  fill: rgb(var(--purple));
}

.nav svg {
  fill: rgb(var(--purple));
}

div[aria-invalid="true"] {
  border: 1px solid rgb(var(--red));
}

@media (max-width: 991px) {
  body {
    background: rgb(var(--light-grey));
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
